/* CronGenerator.css */
.cron-generator-container {
  padding: 20px !important;
  max-width: 600px !important;
  /* margin: 0 auto; */
  font-family: Arial, sans-serif !important;
}

.cron-expression-display {
  margin-top: 20px !important;
}
.cron_builder {
  margin-top: 10px !important;
  border-color: #141653 !important;
  min-width: 600px !important;
  background-color: #141653 !important;
  opacity: 1 !important;
}
.cron_builder_bordering {
  color: #fff !important;
  border-color: #141653 !important;
  background-color: #141653 !important;
}
.cron_builder .well {
  border-color: #141653 !important;
  background-color: #141653 !important;
}
.cron_builder_bordering input {
  color: #fff !important;
  background-color: #141653 !important;
}
.cron_builder_bordering select {
  color: #fff !important;
  border-color: #141653 !important;
  background-color: #141653 !important;
}
.toggle-button {
  margin-left: 10px !important;
  padding: 5px 10px !important;
  background-color: #141653 !important;
  color: #fff !important;
  border: none !important;
  cursor: pointer !important;
}

.toggle-button:hover {
  border-color: #141653 !important;
  background-color: #141653 !important;
}

.next-run-times {
  margin-top: 20px;
}

ul {
  border-color: #141653 !important;
  list-style-type: none !important;
  padding: 0 !important;
}

/* li {
  border-color: #141653;
  background: #141653;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ddd;
} */
