body {
  background-color: #1c1444;
  color: rgb(252, 246, 246);
  /* width: 1000px; */
}
.tableContainer {
  width: 100%;
  margin: 20px 0;
  background-color: #1c1444;
  color: #fff;
  overflow: auto;
  max-height: 200px;
  max-width: 1500px;
}
 
.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
  text-align: center;
}
 
.chartContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
 
.filterControl {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.recharts-tooltip,.recharts-label,.recharts-legend-item-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.css-1utq5rl{
  color: #fff !important
  }
.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiSelect-icon.MuiSelect-iconStandard.MuiSelect-iconOpen.css-1wkhih1{
  color: #fff !important
}

.css-stp6rc{
  color: #fff !important
}

.css-1cccqvr{
  color: #fff !important
}
.css-mnn31{
  color: #fff !important
}
.css-348fk2 {
  color: #fff !important
}
.css-lshx8b{
  color: #fff !important
}

.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root{
  color: #fff !important
}

.userStyle{
  background-color: #1c1444;
  margin-bottom: 25px;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  height: 100%;
  min-height: 100vh;
}