.dropDown-selection {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nokia {
  top: 140px;
  left: 45px;
  width: 300px;
  background: transparent linear-gradient(180deg, #403480 0%, #141653 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 0px 5px #00000080;
  border-radius: 8px;
  opacity: 1;
}

.css-mtwa5k{
  color: #FFFFFF ;
}
.css-2bxn45{
  color: #FFFFFF ;
}

.textStyle {
  position: "relative";
  text-align: "left";
  color: "#97B5F9";
  font: "Roboto";
  font-size: "16px";
  opacity: 1;
}

.MuiPickersLayout-contentWrapper.css-13xe9rf-MuiPickersLayout-contentWrapper {
  background: transparent linear-gradient(180deg, #403480 0%, #141653 100%) 0%
    0% no-repeat padding-box ;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.MuiMenu-paper.MuiMenu-paper.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  background-color: #282468 ;
  color: #a9c2ff ;
  font: "normal normal 600 16px Raleway" ;
  letter-spacing: 0px;
  opacity: 1 ;
}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiSelect-icon.MuiSelect-iconFilled.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
  color: #FFFFFF ;
}

.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-sizeMedium.MuiInputLabel-outlined.MuiFormLabel-colorPrimary.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-sizeMedium.MuiInputLabel-outlined.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  color: #FFFFFF ;
}

.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-sizeMedium.MuiInputLabel-filled.MuiFormLabel-colorPrimary.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-sizeMedium.MuiInputLabel-filled.css-e4w4as-MuiFormLabel-root-MuiInputLabel-root{
  color: #FFFFFF ;
  opacity: 1;
}
.MuiInputBase-root.MuiFilledInput-root.MuiFilledInput-underline.MuiInputBase-colorPrimary.MuiInputBase-formControl.css-batk84-MuiInputBase-root-MuiFilledInput-root{
  color: #FFFFFF ;
}

.onboardStyle{
  background-color: #1c1444;
  margin-bottom: 25px;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  height: 100%;
  min-height: 100vh;
}