/* src/DataTable.css */
table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'sans-serif';
}

.css-19kzrtu {
    padding: 0px !important;
}

.pagination {
    margin-top: 10px;
}

button {
    margin: 5px;
    padding: 5px 10px;
}

.search_button {
    /* Layout Properties */
    top: 159px;
    left: 50px;
    width: 350px;
    height: 42px;
    /* UI Properties */
    background: transparent
      linear-gradient(180deg, #403480 0%, #141653 100%) 0% 0% no-repeat
      padding-box;
    box-shadow: 0px 0px 5px #00000080;
    border-radius: 8px;
    opacity: 1;
  }

  .css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input{
    color: #fff !important;
  }


