.dropDown-selection {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nokia {
  top: 140px;
  left: 45px;
  width: 300px;
  background: transparent linear-gradient(180deg, #403480 0%, #141653 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 0px 5px #00000080;
  border-radius: 8px;
  opacity: 1;
}

.dateTime {
  margin: 15px;
  left: 45px;
  /* width: 300px; */
  width: 259px;
  background: transparent linear-gradient(180deg, #403480 0%, #141653 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 0px 5px #00000080;
  border-radius: 8px;
  opacity: 1;
}

.timeDur {
  margin: 15px;
  width: 520px;
  background: transparent linear-gradient(180deg, #403480 0%, #141653 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 0px 5px #00000080;
  border-radius: 8px;
  opacity: 1;
}

.textStyle {
  position: "relative";
  text-align: "left";
  color: "#97B5F9";
  font: "Roboto";
  font-size: "16px";
  opacity: 1;
}

.gridStyle{
  margin-top: "10px";
  margin-left: "33px";
}

.css-pwxzbm {
  background-color: #282468 ;
  color: #fff ;
}

.MuiPickersLayout-contentWrapper.css-13xe9rf-MuiPickersLayout-contentWrapper {
  background: transparent linear-gradient(180deg, #403480 0%, #141653 100%) 0% 0% no-repeat padding-box ;
}
.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root.Mui-error.MuiOutlinedInput-notchedOutline {
  border: none ;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.MuiMenu-paper.MuiMenu-paper.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  background-color: #282468 ;
  color: #fff ;
}

.css-1bn53lx{
  color: #fff ;
}
.css-736ibl{
  background-color: #282468 ;
  /* color: #fff !important; */
}

.css-13q0g9a{
  color: #fff ;
}
/* .css-slyssw{
  color: #fff !important;
} */
/* .css-1wjkg3{
  color: #fff !important;
} */

/* .css-1v994a0{
  color: #fff !important;
} */

/* .css-11wxb{
  color:  #fff !important;
} */
.css-vubbuv{
  color:  #fff ;
}
/* .css-16j77m4{
  color:  #fff !important;
} */
/* .css-1h73gvd{
  color:  #fff !important;
} */
/* .css-sldnni{
  color:  #fff !important;
} */
/* .css-1cw4hi4{
  color: #fff !important;
} */
.css-14x1nlk{
  color: #fff ;
}
/* .css-o9cot7{
  color: #fff !important;
} */
/* .css-10qkmc3{
  color: #fff !important;
} */

.css-1636szt{
  color: #fff ;
}

/* .cron_builder_bordering {
  border-top: none;
  text-align: center;
  padding: 10px;
  background: #282468;
} */
.MuiInputBase-input.MuiOutlinedInput-input.MuiInputBase-inputAdornedEnd.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  color: #fff ;
}
.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-edgeEnd.MuiIconButton-sizeMedium.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root{
color: #fff ;
}
.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
  color: #fff ;
}

.css-ht032f{
  margin-top: 0px;
}

.StyledContainerDropDown {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.StyledButton {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}

.StyledButton:hover {
  background-color: #3e8e41;
}

.StyledButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.StyledContainerSnackBar {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.userStyle{
  background-color: #1c1444;
  margin-bottom: 25px;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  height: 100%;
  min-height: 100vh;
}

.css-jx36s5-MuiGrid-root{
  margin-left: 20px ;
}